@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    * {
        padding: 0%;
        margin: 0%;
    }
    body {
        background-color: white;
        font-family: 'Open Sans', sans-serif;
    }

    header {
        background-color: white;
        height: 100px;
        padding: 20px;
        box-sizing: border-box;
        margin-left: 19pc;
    }

    .logo {
        width: 40%;
        display: block;
        margin: 0 auto;
        margin-top: 1em;
      
    }

    .logo-menu {
        max-width: 80%;
        min-height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 4em;

    }
    .logo-menu a:hover{
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    .inf{
        text-align: center;
    }

    .enem{
        color: black;
        text-align: center;
    }

    .paragrafo {
        margin-left: 100px;
        margin-right: 100px;
        line-height: 1.5;
        margin-bottom: 10px;
        text-align: justify;
    }

    .fonte {
        font-size: 16px;
        margin-top: 20px;
    }

    nav {
        background-color: #006699;
        position: fixed;
        height: 120vh;
        width: 20%;
        z-index: 1000;
        float: left;
    }

    main {
        background-color: #ccddff;
        width: 80%;
        height: auto;
        margin-top: 2em;
        float: right;
    }

    .titulo{
        font-size: clamp(1.75em, 1em + 3vw, 2.5em) ;
        font-weight: bold;
        text-decoration: none;
        color:#006699;
        margin-left: 15%;     
    }

    h1 {
        color: white;
        margin-bottom: 40px;
        font-size: xx-large;
        padding: 10px;
    }

    .formLabel :hover{
        color: black;
        font-weight: bold;
    }

    label a{
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .prova-gabarito {
        
        line-height: 1.5;
        margin-top: 20px;
    }

    .prova-gabarito h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .prova-gabarito a {
        text-decoration: none;
        color: #006699ef;
        font-weight: bold;
        line-height: 2;
    }

    .prova-gabarito p {
        text-align: center;
        font-size: 1em;
    }
    
    footer {
        width: 100%;
        background-color: #006699;
        text-align: center;
        padding-bottom: 2.7em;
        margin-top: 20vh;    
    }

    .rodape {
        color: white;
        font-size: 1em;
        margin-top: 2em;
        text-align: center;
    }

    .site {
        color: #ffcc00;
        font-weight: bold;
        text-decoration: none;
    }

    .site:hover {
        color: orange;
    }

    #btn-mobile {
        display: none;
    }

    @media (max-width: 730px) {
        #menu {
            display: block;
            position: absolute;
            width: 100%;
            top: 5em;
            right: 0px;
            background: #006699;
            transition: .6s;
            z-index: 1000;
            height: 0px;
            visibility: hidden;
            overflow-y: hidden;
        }

        #nav.active #menu {
            height: calc(24vh);
            visibility: visible;
            overflow-y: auto;
        }

        #menu a {
            padding: 1rem 0;
            margin: 0 1rem;
        }

        #btn-mobile {
            display: flex;
            padding: 2rem 1rem;
            font-size: 1rem;
            border: none;
            background: none;
            cursor: pointer;
            gap: .5rem;
        }

        #hamburguer {
            display: block;
            border-top: 2px solid;
            width: 20px;
        }

        #hamburguer::after, #hamburguer::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: currentColor;
            margin-top: 5px;
            transition: .3s;
            position: relative;
        }

        #nav.active #hamburguer {
            border-top-color: transparent;
        }

        #nav.active #hamburguer::before {
            transform: rotate(135deg);
        }

        #nav.active #hamburguer::after {
            transform: rotate(-135deg);
            top: -7px;
        }

        nav{
            position: absolute;
            background: transparent;
            text-align: center;
            width: 100%;
        }

        .logo {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    
        main {
            background-color: #ccddff;
            width: 100%;
            margin-top: 1em;
        }
    
        h1 {
            color: transparent;
        }
    
        .formLabel :hover{
            color: black;
            font-weight: bold;
        }
    
        label a{
            text-decoration: none;
            color: white;
            padding: 10px;
        }
    
        hr{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        .prova-gabarito {
            
            line-height: 1.5;
            margin-top: 20px;
        }
    
        .prova-gabarito h2 {
            margin-top: 5vh;
            margin-bottom: 4vh;
        }
    
        .prova-gabarito a {
            text-decoration: none;
            color: #006699ef;
            font-weight: bold;
            line-height: 2;
        }
    
        .prova-gabarito p {
            text-align: center;
            font-size: 1em;
        }
        
        footer {
            width: 100%;
            background-color: #006699;
            text-align: center;
            margin-top: 10.1em;
            padding-bottom: 3em;    
        }
    
        .rodape {
            color: white;
            font-size: 1em;
            margin-top: 1em;
            text-align: center;
        }
    
        .site {
            color: #ffcc00;
            font-weight: bold;
            text-decoration: none;
        }
    
        .site:hover {
            color: orange;
        }
    }
.titulos{
    color: black;
    margin-top: 20px;
    margin-left: 38%;
    font-size: clamp(1.75em, 1em + 3vw, 2.5em)
}

.graficoResultado{
    width: 80%;
    display: flex;
    flex-wrap: wrap ;
}

.graficoIdade{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap ;
}

.graficoQuestao{
    width: 40%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 25em 1fr;
}

.graficoQuestao p{
    font-size: 12px;
}

.box{
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.box-botao{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%;
}