@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    * {
        padding: 0%;
        margin: 0%;
    }
    body {
        background-color: white;
        font-family: 'Open Sans', sans-serif;
    }

    header{
        margin-left: 20.5%;
    }

    .logo-menu {
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 4em;
    }

    .questao{
        width: 100%;
        display: table;
        align-items: center;
    }

    .div-questoes {
        border-radius: 20px;
        text-decoration: none;
        font-size: 13px;
        padding: 8px;
        width: 5px;
        background-color: #006699ef;
        color: white;
        text-align: center;
        margin-top: 5px;
        margin-left: 0.2em;
        margin-bottom: 10px;
        display: inline-table;
    }
    
    #model-certa, #model-errada{
        width: 65%;
        height: 30%;
        background-color: #006699;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -150%);
        display: none;
        animation: animate;
        animation-duration: 800ms;
    }
    
    @keyframes animate{
        from{opacity: 1;}
        from{opacity: 0;}
    }
    
    .close-model{
        margin: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: right;
        cursor: pointer;
    }
    
    .close-model img{
        width: 30px;
        float: right;
    }

    nav {
        background-color: #006699ef;
        height: 100vh;
        width: 20%;
        float: left;
        position: fixed;
    
    }

    main {
        background-color: white;
        height: 700px;
        width: 70%;
        float: right;
    }

    section {
        background-color: #ccddff;
        height: auto;
        width: 85%;
        margin-top: 10px;
    }

    .img_prova img {
        width: 50%;
        padding-top: 10px;
        display: block;
        margin: 0 auto;
    }

    .fonte{
        font-size: 1vw;
        text-align: center;
    }

    p{
        margin-left: 45px;
    }

    h1 {
        color: white;
        margin-bottom: 40px;
        font-size: xx-large;
        padding: 10px;
    }

    .formLabel :hover{
        color: black;
        font-weight: bold;
    }

    label {
        color: white;
        padding: 10px;
    }

    label a{
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

    ul{
        list-style-type: none;
        padding: 5px;
    }

    li{
        font-size: 1em;
        padding: 0.5px;
    }

    .botao{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    button {
        padding: 10px;
        border-radius: 15px;
        margin: 5px;
        font-size: 15px;
        font-weight: bold;
        background-color: transparent;
        border: 2px solid #fff;
        cursor: pointer;
        transition: 0.8s all ease;
    }

    button a{
        text-decoration: none;
        color: #fff;
    }

    button:hover {
        background-color: #3c88ad;
    }

    footer {
        background-color: #006699;
        width: 85%;  
    }
